# Nuxt dev/build output
.nuxt
.output
.data
dist
package-lock.json
.codebuddy

# Dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


.workbuddy
/backend/Cargo.lock
/backend/target/
